# Meta
DEBUG=True

# QFieldCloud Config
QFIELDCLOUD_URL='https://localhost/api/v1/'
QFIELDCLOUD_USERNAME=
QFIELDCLOUD_PASSWORD=
DEFAULT_PAGINATION_LIMIT=10

# Security
ADMIN_API_TOKEN=secret
QFIELDCLOUD_TOKEN=secret